*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
main{
    ---bodyBg:#fff;
    --headerBg:#fff;
    --textColor:#444;
    --cardBg:#fff;
    --Shadow:#ccc;
    --relatedBg:#eeeeee;
    font-family: "Nunito Sans", sans-serif;
    background:var( ---bodyBg);
    color:var(--textColor);
    min-height:100vh;
   

}
main.dark{
    ---bodyBg:hsl(209, 23%, 22%);
    --headerBg:hsl(207, 26%, 17%);
    --textColor:#fff;
    --cardBg:#23303c;
    --Shadow:#202c3700;
    --relatedBg:hsl(207, 26%, 17%);
}
header{
   
    width: 100%;
    box-shadow: 0px 0px 4px #ccc;
    padding: 20px 0;
    background-color:#fff;
    background:var( --headerBg);
}
main.dark header, main.dark .filterBox{
    box-shadow:none;
    border:none;
}
main.dark .filterBox{
    
}
a{
    color:inherit;
    text-decoration:none;
}
.header{
    max-width: 1300px;
    margin-inline: auto;
    padding: 0 3rem;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:5px
}
.header div{
    display: flex;
    align-items:center;
    gap:15px    
}
.filterSearch{
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.view{
    max-width: 1300px;
    margin-inline: auto;
    padding: 0 3rem;
}
.serachBox{
    border-radius: 4px;
    background:var(--headerBg);
    box-shadow: 0px 0px 4px var(--Shadow);
     padding: 5px 15px;
    display:flex;
    align-items:center;
    gap:8px;
    position: relative;
}
.serachBox i{
    font-size:15px;
}
.serachBox input{
    height:30px;
    max-width:350px;
    border:none;
    outline:none;
    background:var(--headerBg);
    color:var(--textColor)
}
.serachBox i{
    color:#9d929299; 
}
.filterBox{
padding:10px 2rem;
background:var(--headerBg);
color: var(--textColor);
box-shadow: 0px 0px 4px var(--Shadow);
}
.filterBox select{
    background-color:var(--headerBg);
    border:none;
    color: var(--textColor);
    outline: none;
}
.filterBox li{
    padding:8px 0;
    text-align:left;
}
.filterBox li span{
    padding:5px;
    width:100%;
    height:40px;
    background:#fff;
    display:flex;
    align-items:center;
    gap:10px;
    padding:0 15px;
    border-radius:5px;
}
.filterBox li span i{
    font-size:12px;
}
.filterBox li ul{
    box-shadow: 0px 0px 4px #ccc;
    border-radius:8px;
    overflow:hidden;
    margin-top:15px;
    position: absolute;
    width: 100%;
    background-color: #fff;
    display:none;
}
.filterBox li ul.show{
    display:block;
}
.filterBox li ul li{
    padding-inline:15px;
}
.countryList{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: center;
    justify-content:space-between;
    gap: 32px;
    margin-inline: auto;

    
}
.countryCard{
    background:var(--cardBg);
    box-shadow: 0px 0px 4px var(--Shadow);
    border-radius:4px;
    overflow:hidden;
}
body.dark .countryCard{
    box-shadow:none;
}
.countryCard .countryImage{
    height: 160px;
    overflow: hidden;
    width: 100%;
    padding-right: 0;
    border-radius: 4px 4px 0 0;
}
.countryCard p{
    font-size: 14px;
    padding: 3px 0;
}
.countryInfo{
    padding:15px 20px 32px 20px;
}
.countryName{
    padding-bottom:15px;
    font-size:18px;
    font-weight:bold;
}

.bacBtn{
    margin-top: 30px;
   
    background: var(--headerBg);
    box-shadow: 0px 0px 4px var(--Shadow);
    border-radius: 4px;
    width: 120px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}
.countryDtails{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(554px, 2fr));
    flex-wrap: wrap;
    padding-top:45px;
    align-items:center;
    gap:50px;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.countryInformration{
    display:flex;
    flex-wrap:wrap;
}
.countryInformration ul.info{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    flex-direction: column;
    max-height: 180px;
    row-gap: 2px;
    column-gap: 64px;
    flex-wrap:wrap;
}
.countryInformration ul.info li{
    padding:3px 0;
    width:50%;
    font-size:15px;
}
.countryInformration ul.info li strong{
    font-weight:500;
}
.borderCountrien{
    display:flex;
    align-items:center;
    font-size:15px;
    gap:15px;
}
.borderCountrien .borderText{

}
.borderCountrien ul{
    display:flex;
    flex-wrap: wrap;
    gap:15px;
    list-style:none;
}
.borderCountrien ul li{
    padding: 5px 15px;
    background: var(--headerBg);
    box-shadow: 0px 0px 4px var(--Shadow);
    font-size: 14px;
    list-style:none;
}
.borderCountrien ul li a{
    text-decoration:none;
    color:inherit;
    font-size:inherit;
}
.relatedProduct{
 margin-top:70px;
 padding-top:50px;
 padding-bottom:50px;
 background:var(--relatedBg);
}
.relatedProduct h2{
    padding-bottom:50px;
}
@media screen and (max-width: 768px) {
    .countryDtails {
      display:block;
    }
    .countryInformration ul.info{
        max-height:inherit;
        display: block;
    }
    .countryInformration ul.info li{
        width:100%;
    }
    .serachBox, .filterBox, .filterBox select{
        width:100%;
    }
    .filterBox{
        display:flex;
        justify-content:end;
    }
  }